
/*----------------------------------------------------------header design--------------------------------------------------------*/

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1% 3%;
    background-color: #fff;
    box-shadow: 0px .125rem 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
  }
  .logo a {
    text-decoration: none;
    color: #24262b;
  }
  .logo a:hover{
    color: #24262b91;
    transition: 1s;
  }
  
  .logo a h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  
  .logo a p {
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: lowercase;
  }
  
  nav {
    height: 3.75rem;
    background: #ffffff;
    display: flex;
    align-items: center;
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  nav ul li a {
    color: #24262b;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    margin: .125rem .5rem;
    padding: .25rem .5rem;
    letter-spacing: .0625rem;
    text-transform: uppercase;
  }
  
  nav ul li a:hover {
    transition: width 1s;
    color: #24262bb1; 
    border-bottom: .25rem solid #24262bb1;
  }
  
  /*------------------------------------------------------------------------------------------------------------------------------------------*/
  /*-------------------------------------------------responsive media queries---------------for header-----------------------------------------*/
  
  @media (max-width: 876px) {
  
    .logo a h1 {
      font-size: 1.375rem;
      margin: .25rem;
    }
  
    .logo a p {
      font-size: .8125rem;
      margin: .25rem;
    }
  
    nav ul {
      padding-top: 3.75rem;
      position: fixed;
      top: 0;
      left: 0;
      background: #ffffff;
      height: 100vh;
      width: 60%;
      display: none;
      text-align: center;
      z-index: 1;
    }
    
    nav ul li {
      margin-top: 3.125rem;
    }
  
    nav ul li a {
      font-size: 0.9rem;
    }
  
    .toggle-button {
  
      top: 1.5625rem;
      right: 1.5625rem;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 1.5625rem;
      height: 1.25rem;
      z-index: 2;
    }
  
    .toggle-button .bar {
      height: .25rem;
      background-color: #24262b;
      border-radius: .625rem;
    }
  
    .close-button {
      position: fixed;
      top: 1.5625rem;
      left: 1.25rem;
      cursor: pointer;
      display: none;
      border-radius: 50%;
      padding: 0rem .625rem;
      color: #24262b;
      background-color: #ffffff;
      z-index: 2;
  
    }
  
    .close-button:hover {
      color: #ffffff;
      ;
      background-color: #24262b;
  
    }
  
    .close-button::before {
      content: "\00D7";
      font-size: 1.75rem;
  
    }
  
  }
  /*--------------------------------------------------------*/
  @media (max-width: 1055px) {
  
    .logo a h1 {
      font-size: 1.1rem;
    }
  
    .logo a p {
      font-size: 0.9rem;
    }
    nav ul li a {
      font-size: 0.9rem;
    }
  
  }
  
  @media(max-width: 380px){
    .logo a h1 {
      font-size: 1rem;
    }
  
  }
  
  /*------------------------------------------------------------------------------------------------------------------------------------------*/
  /*------------------------------------------------footer design-----------------------------------------------------------------------------*/
  
  .footer {
    background-color: #24262b;
    padding: 4.375rem 0;
    padding-bottom: 0.4rem;
  }
  
  
  .footer-container {
    padding: 1.875rem;
    position: relative;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
  }
  
  ul {
    list-style: none;
  }
  
  .footer-col {
    width: 40%;
    padding: 0 .75rem;
  }
  
  .footer-col h4 {
    font-size: 1rem;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 2.1875rem;
    font-weight: 500;
    position: relative;
  }
  
  .footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.625rem;
    background-color: #ffffff;
    height: 2px;
    box-sizing: border-box;
    width: 3.125rem;
  }
  
  .footer-col ul li:not(:last-child) {
    margin-bottom: .625rem;
  }
  
  .footer-col ul li a {
    font-size: 1rem;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  
  .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: .5rem;
  }
  
  .social-links a {
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 .625rem .625rem 0;
    text-align: center;
    line-height: 2.5rem;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
  }
  .creator{
    margin: 1rem;
    padding: 1rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 0.6rem;
    line-height: 0.2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }

  
  /*------------------------------------------------------------------------------------------------------------------------------------------*/
  /*------------------------------------responsive media queries------for footer--------------------------------------------------------------*/
  
  @media(max-width: 740px) {
    .footer {
      margin-top: 2.5rem;
    }
  
    .footer-col {
      width: 50%;
      margin-bottom: 1.875rem;
    }
  }
  
  @media(max-width: 574px) {
    .footer-col {
      width: 100%;
    }
    .creator {
      font-size: 0.4rem;
    }
  }
   
  @media(max-width: 433px) {
 
    .creator {
      font-size: 0.38.5rem;
    }
  }
  /*---------------------------------------------/ THE END /-----------/ CODED BY DARSHAN BAJGAIN /-----------------------------------------------*/